<h4>Login / Signin</h4>
<div fxLayout="column" fxLayoutAlign="start" class="container">

  <div>

    <form fxLayout="column" [formGroup]="signInGroup" (ngSubmit)="onSignIn()">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
      </mat-form-field>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap.lt-sm="5px" fxLayoutGap="32px">
        <button type="submit" fxFlex="50%" mat-raised-button color="primary"
          [disabled]="signInGroup.invalid">Submit</button>
        <button type="reset" fxFlex="50%" mat-raised-button color="warn">Clear</button>
      </div>
    </form>

  </div>

  <div>
    <p>
      Not a member yet ?
      <a (click)="redirectToSignup()">Click here</a>
      to register
    </p>
  </div>


</div>
