<h4>Signup</h4>
<div fxLayout="column" fxLayoutAlign="start" class="container">

  <div>

    <form fxLayout="column" [formGroup]="signUpGroup" (ngSubmit)="onSignUp()">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="confirmpassword" placeholder="Confirm Password">
      </mat-form-field>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap.lt-sm="5px" fxLayoutGap="32px">
        <button type="submit" fxFlex="50%" mat-raised-button color="primary"
          [disabled]="signUpGroup.invalid">Submit</button>
        <button type="reset" fxFlex="50%" mat-raised-button color="warn">Clear</button>
      </div>
    </form>

  </div>

  <div>
    <p>
      Already a member yet ?
      <a (click)="signin()">Click here</a>
      to Login
    </p>
  </div>

</div>
